* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.toggle-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toggle-checkbox {
  display: none;
}

.gif {
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  color: #e94d58;
  margin: 15px 0;
}

.btn-group {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  position: absolute;
  width: 150px;
  height: inherit;
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  font-size: 1.2em;
}
button:nth-child(1) {
  margin-left: -200px;
  background: #e94d58;
}
button:nth-child(2){
    margin-right: -200px;
    background: white;
    color: #e94d58;
}

/* Dark Mode */
.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 150px; /* sesuaikan ukuran dengan tombol Yes dan No */
  height: 50px; /* sesuaikan ukuran dengan tombol Yes dan No */
  border-radius: 25px; /* setengah dari tinggi tombol */
  transition: .2s;
}

.toggle i {
  width: 50%;
  line-height: 50px; /* sesuaikan dengan tinggi tombol */
  text-align: center;
  font-size: 20px; /* sesuaikan dengan ukuran teks tombol Yes dan No */
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 45px; /* sesuaikan dengan tinggi tombol */
  height: 45px; /* sesuaikan dengan tinggi tombol */
  margin: 2.5px; /* sesuaikan dengan jarak antara ikon dan batas tombol */
  border-radius: 50%;
  transition: .3s ease-out;
}

input {
  display: none;
}

/* Light Mode */

.light {
  background: #fafafa;
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 3px 3px 4px #e6e6e6,
              -3px -3px 4px #ffffff;
}

.light .toggle .bxs-sun {
  color: #fafafa;
  margin-right: 47.5px;
}

.light .toggle .bx-moon {
  margin-left: 4px;
  color: #151d2a;
}

.light .toggle .ball {
  background: #151d2a;
}

/* Dark Mode */

/* Dark Mode */
.dark {
  background: #151d2a;
}

.dark .toggle {
  background: #151d2a;
  box-shadow: 3px 3px 3px #0e131b,
              -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
  margin-right: 47.5px;
  color: #fafafa;
}

.dark .toggle .bxs-moon {
  margin-left: 4px;
  color: #151d2a;
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(100px); /* sesuaikan dengan lebar tombol */
}

.dark .btn-group button:nth-child(1) {
  background: #e94d58;
  color: #fafafa;
}

.dark .btn-group button:nth-child(2) {
  background: #fafafa;
  color: #e94d58;
}
